@import "~primereact/resources/themes/lara-light-indigo/theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
.p-datatable table {
  border-collapse: collapse;
  border: 1px solid #949494;
  }

.p-datatable th,
.p-datatable td {
  border: 1px solid #949494;
}

.p-datatable th{
  background-color:#DEDEDE;
}

.p-datatable tr:nth-child(even) {
  background-color: #E8E9EB;
}

.p-datatable tr:hover{
   background-color:#F5F5F5;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-track {
  background: #E8E9EB;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.scrollbar::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #E8E9EB;
    border-radius: 5px;
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


